body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-login{
  background-color: #ABDF75;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(237, 237, 237);
}

.custom-login::before{
  content: "signup";
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 5px;
  position: absolute;
  background-color: #60695C;
  border: 1px dashed hsl(0, 0%, 66.7%);
}
